<!doctype html>
<html lang = "en">

	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <title>Voting</title>
	
	</head>
	
	<body>
		
		<div id = "head">
			<h1>Anonymous Voting Site</h1>
			<p id = "headText">-text text text</p>
		</div>
		
		<div id = "signup card">
			
			<form id = "signup" method = "post" action = "/signup">
				
				<label for = "name">Name</label>
				<input id = "name" name = "name" type = "text" required>
				<br>
				
				<label for = "age">Age</label>
				<input id = "age" name = "age" type = "number" required>
				<br>
				
				<label for = "username">Username</label>
				<input id = "username" name = "username" type = "text" required>
				<br>
				
				<label for = "password">Password</label>
				<input id = "password" name = "password" type = "password" required>
				<br>
				
				<label for = "confirm_p">Confirm Password</label>
				<input id = "confirm_p" name = "confirm_p" type = "password" required>
				<br>
				
				<input type = "submit" value = "Signup">
			</form>
		
		</div>
	</body>
</html>
